    <div data-role="page" id="home" data-theme="c">
        <div data-role="header">
            <h1>DemaeIcho</h1>
        </div>
        <div data-role="content">
            <div id="branding">
                <h1>Restaurant Picker </h1>
            </div>

            <div class="choice_list">
                <h1> Choose best cheap restaurant! </h1>

                <ul data-role="listview" data-inset="true" >
                    <li><a href="choose_town.html" data-transition="slidedown"> <img src="/assets/pinoypao.png" style="width: 80px; height: 80px;"/> <h3> Pinoy Pao </h3></a></li>
                    <li><a href="choose_town.html"  data-transition="slidedown"> <img src="/assets/sisigstop.png" style="width: 80px; height: 80px;"/> <h3> Sisig Stop </h3></a></li>
                    <li><a href="choose_town.html"  data-transition="slidedown"> <img src="/assets/egglog.png" style="width: 80px; height: 80px;"/> <h3> EggLog </h3></a></li>
                    <li><a href="choose_town.html"  data-transition="slidedown"> <img src="/assets/redbowl.png" style="width: 80px; height: 80px;"/> <h3> Red Bowl </h3></a></li>
                </ul>
            </div>
        </div>

</div><!-- /page -->