<div class="container">
	<h1>New Order</h1>

	<% if @menus.present? %>
	<%= render 'form', order: @order %>
	<% else %>
		your cart is empty <br />
	<% end %>

	<%= link_to 'Back', restaurant_menus_path(:restaurant_id => @restaurant_id) %>
</div>
